h2{
	text-align: right;
	size: 10rem;
	margin-right: 20%;

}
h3{
	text-align: right;
	size: 10rem;
	margin-right: 20%;

}
img{
	height: 50%;
	width: 50%;
	margin-right: 70%;
}	
.btn{
	size: 10%;
}